* {
    margin: 1.5;
    padding: 0;
}
header .imgCon {
    width: 70%;
    margin: 0 auto;
}
header .imgCon img {
    width: 70%;
}

body {
    background-color: #E7FBFB;
}

h1 {
    font-size: 4em;
    text-align: center;
    color: #010B5B;
}

h2 {
    text-align: center;
    color: #010B5B;
}

.imgBike img {
    width: 49%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
  }